// bower:scss
@import "components-font-awesome/scss/font-awesome.scss";
// endbower
@import "reset.scss";
@import "variable.scss";
@import "typo.scss";
@import "components.scss";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

html {
  font-size: 1em;
  line-height: 1.4;
  /* Space out content a bit */
  body {
    background: $_dark;
    font-family: 'Source Sans Pro', sans-serif;
    .browsehappy {
      margin: 0.2em 0;
      background: #ccc;
      color: #000;
      padding: 0.2em 0;
    }
  }

}
.header {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: $_last - 1;

}
.centering {
  width: $_maxwidth;
  margin: auto;

}
.opacityLanding {
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
  filter: alpha(opacity = 40);

}
#logo,
nav.first,
nav.first li {
  display: inline-block;

}
#logo {
  width: 100px;
  height: $_height_header;
  display: block;
  float: left;
  img {
    width: 100px;
    height: $_height_header;
    display: block;
  }

}
.button {
  background: $_yellow;
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  padding: 2px 5px;
  font-size: 0.7em;
  text-decoration: none;

}
nav.first {
  margin-left: 40px;
  height: $_height_header;
  display: block;
  float: left;
  .nav {
    height: $_height_header;
    li {
      height: $_height_header;
      line-height: $_height_header;
      margin-right: 60px;
      a {
        @extend .nav_font;
        color: white;
        text-decoration: none;
        &:hover {
          color: $_yellow;
        }
      }
    }
  }
}
.macaron {
  display: inline-block;
  border: 1px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 5px;
  color: white;
  font-size: 0.7em;
  vertical-align: text-bottom;
  text-decoration: none;

}
.menu {  
  z-index: 1000;
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #fff;
}

.submenu {
  position: fixed;
  z-index: 1000;
  width: 30px;
  height: 40px;
  border-left: 4px solid $_yellow;
  top: 50%;
  left: 0;
  margin-top: -20px;
}

.goliath {
  z-index: 1000;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}

.button-express {

      padding: 7px 10px;
      display: inline-block;
      margin-right: 5px;
      font-size: 11px;
      text-transform: uppercase;
      text-decoration: none;
      background: transparent;
      border-radius: 1px;
      font-weight: 100;
}

.landing {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  height: 100vh;
  .carousel {
    position: absolute;
    width: 80%;
    left: 60px;
    top: 35%;
    .title {
      font-size: 2.5em;
      font-weight: 600;
      display: block;
      color: white;

    }
    .season {
      @extend .macaron;
    }
    .year {
    font-size: 0.7em;
    text-transform: uppercase;
    color: $_yellow;
     clear: left; 
    }
    .director {
    font-size: 0.7em;
    text-transform: uppercase;
    color: #e0e0e0;
     margin-left: 30px;

    }
    .trailer {
      color: white;
      border: 1px solid #fff;
      @extend .button-express
    }
    .hackit {
      border: 1px solid $_yellow;
      color: $_yellow;
      @extend .button-express
    }
    .soon {
      border: 1px solid #fff;
      color: #fff;
      opacity: 0.5;
      @extend .button-express
    }

  }
  .media-img {
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @include position(absolute, 0px 0px 0px 0px);
    @extend .opacityLanding;
  }

}
.rn-carousel-control.rn-carousel-control-prev {
  background: url("../images/arrow-left.png") no-repeat center center;
  @include size(38px);
  text-indent: -1000em;
  outline: none;

}
.rn-carousel-control.rn-carousel-control-next {
  background: url("../images/arrow-right.png") no-repeat center center;
  @include size(38px);
  text-indent: -1000em;
  outline: none;

}
.push {
  font-size: 12px;
  text-transform: uppercase;
  color: #e0e0e0;
  margin-bottom: 30px;
  display: inline-block;
}

.description {
  color: white;
  font-weight: 200;
  width: 320px;
  font-size: 13px;
  color: #e0e0e0;
  margin-top: 30px;
  margin-bottom: 30px;

}
.bloc-module {
  padding: 20px 0;
  color: white;
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a.link {
    color: white;
    text-decoration: none;
    font-weight: 200;
    &:hover {
      color: $_yellow;
    }

  }
  .titleSection {
    font-weight: 200;
    margin-bottom: 20px;
    a {
      color: white;
      font-weight: 200;
      text-decoration: underline;
    }

  }
  &.seriesSection {
    @include clearfix;
    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      overflow: hidden;
      li {
        width: 25%;
        padding: 0 20px 0 0;
        box-sizing: border-box;
        &:after,
        &:before {
          content: " ";
          display: table;
        }
        &:after {
          clear: both;
        }
        a {
          color: white;
          float: left;
          @include ellipsis(80%);
        }
        .info {
          float: right;
          color: #555;
        }
      }
    }
  }

}
.poster-thumbs {
  float: left;
  margin: 10px 40px 0 0;

}
form.authenticate {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -100px;
  color: white;
  text-align: center;
  @include size(500px 200px);
  input[type=text] {
    background: transparent;
    border: 0;
    font-size: 4.1em;
    color: white;
    text-align: center;
    width: 500px;
    display: inline-block;
    margin: 20px 0;
    font-weight: 200;
    font-family: 'Source Sans Pro', sans-serif;
    outline: none;
    -moz-appearance: none;
    &:required,
    &:invalid {
      box-shadow: none;
    }
  }

}

#loading {
  @include size(100%);
  @include position(fixed, 0px 0px 0px 0px);
  z-index: $_last;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  img {
    top: 50%;
    margin-top: -25px;
    position: absolute;
  }

}

.indicator {
  text-align: center;
}

.linkAffiliate {
  color: white;
  @include clearfix;
  .episode-list {
    margin-bottom: 50px;
    li {
      display: inline-block;
      margin: 10px 10px 0 0;
      &.first {
        text-transform: uppercase;
        font-weight: 200;
        display: block;
      }

    }
    .rectangle {
      border: 1px solid $_dark-1;
      font-weight: 200;
      font-size: 0.8em;
      text-transform: uppercase;
      text-decoration: none;
      @include size(154px 50px);
      line-height: 50px;
      text-align: center;
      display: inline-block;
      background: $_dark-1;
      color: #ccc;
      @include position(relative);
      // &:hover {
      //     background: $_yellow;
      // }
      .indice {
        display: none;
      }
      &:hover {
        color: $_yellow;
        border: 1px solid $_yellow;
        &:after {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 20px 20px 0;
          border-color: transparent #fd0 transparent transparent;
          @include position(absolute, 0px 0px 0 0);
        }
        .indice {
          @include position(absolute, 0px 0px 0 0);
          color: $_dark;
          z-index: $_middle;
          display: block;
        }
      }
    }
  }
}

.footer {
  @include position(fixed, 0 0px 0px 0px);
  background: rgba(0, 0, 0, 0.5);
  z-index: $_middle;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
  border-top: 1px solid #303030;
  .credit {
    padding: 5px 0;
    color: $_grey-light;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    font-size: 0.8em;
    font-weight: 200;
  }

}
button {
  &.next,
  &.prev {
    border-radius: 15px;
    @include size(30px);
    line-height: 20px;
    text-align: center;
    background: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    &:hover {
      background: $_yellow;
      color: black;
      cursor: pointer;
      border: 1px solid $_yellow;
      -webkit-transition: background-color ease-out 0.3s;
      -moz-transition: background-color ease-out 0.3s;
      -o-transition: background-color ease-out 0.3s;
      transition: background-color ease-out 0.3s;
    }

  }
  &.prev {
    position: fixed;
    top: 20px;
    left: 30px;
  }

}
.next-wrapper {
  padding: 40px 0;
}

.search-form {
  position: absolute;
  z-index: 111;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  padding: 50px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
    background: transparent;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    pointer-events: auto;
  &.bg-for-search {
    background: rgba(0,0,0,0.9);
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  bottom: 0;
  pointer-events: auto;
    color: #fff;
    .result {
      color: #fff;
      li a {
        color: #fff;
      }
    }
  }
  input[type=search]{
    background: transparent;
    outline: none;
    padding: 15px 50px;
    font-size: 1.3em;
    color: #fff;
    width: 300px;
    margin: auto;
    border: 1px solid #fff;
    border-radius :30px;
    -moz-border-radius :35px;
    -webkit-border-radius :35px;
  }
}

.result {
  padding-top: 100px;
  li {
    float: left;
    text-align: left;
    margin-bottom: 50px;
    width: 33%;
    box-sizing: border-box;
    .roundup {
      float: left;
      margin-right: 20px;
      margin-bottom: 10px;
      border-radius: 50%;
      overflow: hidden;
        height: 100px;
        width: 100px;
      img {
        height: 100px;
      }
    }
    span {
      text-decoration: none;
    }
  }
}

.unstyle {
  text-decoration: inherit;
  color: inherit;
  font-weight: inherit;
}
