// bower:scss
@import "components-font-awesome/scss/font-awesome.scss";
// endbower
@import "reset.scss";
@import "variable.scss";
@import "typo.scss";
@import "components.scss";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

html {
  font-size: 1em;
  line-height: 1.4;
  /* Space out content a bit */
  body {
    background: $_dark;
    font-family: 'Source Sans Pro', sans-serif;
    .browsehappy {
      margin: 0.2em 0;
      background: #ccc;
      color: #000;
      padding: 0.2em 0;
    }
  }

}
.header {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: $_last - 1;

}
.centering {
  width: $_maxwidth;
  margin: auto;

}
.opacityLanding {
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
  filter: alpha(opacity = 40);

}
#logo,
nav.first,
nav.first li {
  display: inline-block;

}
#logo {
  width: 100px;
  height: $_height_header;
  display: block;
  float: left;
  img {
    width: 100px;
    height: $_height_header;
    display: block;
  }

}
.button {
  background: $_yellow;
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  padding: 2px 5px;
  font-size: 0.7em;
  text-decoration: none;

}
nav.first {
  margin-left: 40px;
  height: $_height_header;
  display: block;
  float: left;
  .nav {
    height: $_height_header;
    li {
      height: $_height_header;
      line-height: $_height_header;
      margin-right: 60px;
      a {
        @extend .nav_font;
        color: white;
        text-decoration: none;
        &:hover {
          color: $_yellow;
        }
      }
    }
  }
}
.macaron {
  display: inline-block;
  border: 1px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 5px;
  color: white;
  font-size: 0.7em;
  vertical-align: text-bottom;
  text-decoration: none;
}
.menu {  
  z-index: 1000;
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #fff;
}

.submenu {
  position: fixed;
  z-index: 1000;
  width: 30px;
  height: 40px;
  border-left: 4px solid $_yellow;
  top: 50%;
  left: 0;
  margin-top: -20px;
}

.goliath {
  z-index: 1000;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}

.button-express {

      padding: 7px 10px;
      display: inline-block;
      margin-right: 5px;
      font-size: 11px;
      text-transform: uppercase;
      text-decoration: none;
      background: transparent;
      border-radius: 1px;
      font-weight: 100;
}

.landing {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  height: 100vh;
  .carousel {
    position: absolute;
    width: 80%;
    left: 60px;
    top: 35%;
    .title {
      font-size: 2.5em;
      font-weight: 600;
      display: block;
      color: white;

    }
    .season {
      @extend .macaron;
    }
    .year {
    font-size: 0.7em;
    text-transform: uppercase;
    color: $_yellow;
     clear: left; 
    }
    .director {
    font-size: 0.7em;
    text-transform: uppercase;
    color: #e0e0e0;
     margin-left: 30px;

    }
    .trailer {
      color: white;
      border: 1px solid #fff;
      @extend .button-express
    }
    .hackit {
      border: 1px solid $_yellow;
      color: $_yellow;
      @extend .button-express
    }
    .soon {
      border: 1px solid #fff;
      color: #fff;
      opacity: 0.5;
      @extend .button-express
    }

  }
  .media-img {
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @extend .opacityLanding;
  }

}
.push {
  font-size: 12px;
  text-transform: uppercase;
  color: #e0e0e0;
  margin-bottom: 30px;
  display: inline-block;
}

.description {
  color: white;
  font-weight: 200;
  width: 320px;
  font-size: 13px;
  color: #e0e0e0;
  margin-top: 30px;
  margin-bottom: 30px;

}
.bloc-module {
  padding: 20px 0;
  color: white;
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a.link {
    color: white;
    text-decoration: none;
    font-weight: 200;
    &:hover {
      color: $_yellow;
    }

  }
  .titleSection {
    font-weight: 200;
    margin-bottom: 20px;
    a {
      color: white;
      font-weight: 200;
      text-decoration: underline;
    }

  }

}
.poster-thumbs {
  float: left;
  margin: 10px 40px 0 0;

}

#loading {
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  z-index: $_last;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  img {
    top: 50%;
    margin-top: -25px;
    position: absolute;
  }

}

.indicator {
  text-align: center;
}

button {
  &.next,
  &.prev {
    border-radius: 15px;
    width: 30px;
    line-height: 20px;
    text-align: center;
    background: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    &:hover {
      background: $_yellow;
      color: black;
      cursor: pointer;
      border: 1px solid $_yellow;
      -webkit-transition: background-color ease-out 0.3s;
      -moz-transition: background-color ease-out 0.3s;
      -o-transition: background-color ease-out 0.3s;
      transition: background-color ease-out 0.3s;
    }

  }
  &.prev {
    position: fixed;
    top: 20px;
    left: 30px;
  }

}
.next-wrapper {
  padding: 40px 0;
}

input[type=text].search-input,
input[type=search].search-input{
  z-index: 111;
  right: 0;
  position: relative;
  left: 0;
  background: transparent;
  outline: none;
  padding: 15px 0 10px 0;
  font-size: 3em;
  color: #fff;
  margin: auto;
  border: 0 none;
  width: 100%;
  float: left;
}

.search-form {
  position: absolute;
  left: 50px;
  right: 10px;
  top: 20%;
  label {
    color: #aaa;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .7em;
    display: block;
    letter-spacing: 1px;
  }
}


.search-result {
  left: 50px;
  top: 40%;
  bottom: 50px;
  right: 50px;
  position: absolute;
  color: #fff;
  a {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: .9em;
  }
}

::-webkit-input-placeholder, 
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    color: #fff;
    opacity: .1;
    font-weight: 100;
}
.search-result {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  -webkit-column-gap: 10vw; /* Chrome, Safari, Opera */
    -moz-column-gap: 10vw; /* Firefox */
    column-gap: 10vw;
  .list-line {
    @extend .clearfix;
    .list-title {
      float: left;
      width: 200px;
    }
    .list-episode {
      float: left;
      color: $_yellow;
    }
  }
}