// color
$_dark-1 : #0b0b0b;
$_dark : #050505;
$_darken : #0f0f0f;
$_grey-light: #c0c0c0;
$_maxwidth : 500px;
$_height_header : 32px;
$_last: 100;
$_middle: $_last / 2;
$_first: 1;
$_yellow: #ffc917;

ul, li, h1, h2, h3, h4, h5, body, html {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

html {
  font-size: 1em;
  line-height: 1.4;
  /* Space out content a bit */
  body {
    background: $_dark-1;
    font-family: 'Source Sans Pro', sans-serif;
    .browsehappy {
      margin: 0.2em 0;
      background: #ccc;
      color: #000;
      padding: 0.2em 0;
    }
  }

}
.header {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: $_last - 1;

}
.centering {
  width: $_maxwidth;
  margin: auto;

}
.opacityLanding {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity = 80);

}
#logo,
nav.first,
nav.first li {
  display: inline-block;

}
#logo {
  width: 100px;
  height: $_height_header;
  display: block;
  float: left;
  img {
    width: 100px;
    height: $_height_header;
    display: block;
  }

}
.button {
  background: $_yellow;
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  padding: 2px 5px;
  font-size: 0.7em;
  text-decoration: none;

}
.menu-container {
  left: 0;
  width: 75px;
  background: #fff;
  top: 0;
  bottom: 0;
  height: 100%;
  position: fixed;
  z-index: 88;
  ul {
    margin-top: 75px;
    li {
    display: block;
    height: 100px;
    position: relative;
    text-align: center;
    line-height: 100px;
    &:nth-child(2) {
      a {
        font-size: 32px;
      }
    }
    &:nth-child(3) {
      a {
        font-size: 28px;
      }
    }
    &:nth-child(4) {
      a {
        font-size: 68px;
      }
    }
    &:nth-child(5) {
      a {
        font-size: 42px;
      }
    }
    &:nth-child(6) {
      a {
        font-size: 52px;
      }
    }
    a {
      text-decoration: none;
      color: #c0c0c0;
      font-size: 20px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;

      span {
        color: #777;
        display: block;
        font-size: 10px;
        font-weight:100;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        line-height: initial;
        text-align: center;
      }
    }
  }
  }
}

.container {
    padding-left: 75px;
}
nav.first {
  margin-left: 40px;
  height: $_height_header;
  display: block;
  float: left;
  .nav {
    height: $_height_header;
    li {
      height: $_height_header;
      line-height: $_height_header;
      margin-right: 60px;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: $_yellow;
        }
      }
    }
  }

}
.macaron {
  display: inline-block;
  border: 1px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 5px;
  color: white;
  font-size: 0.7em;
  vertical-align: text-bottom;
  text-decoration: none;

}
.menu {
  z-index: 1000;
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #fff;
}

.submenu {
  position: fixed;
  z-index: 1000;
  width: 30px;
  height: 40px;
  border-left: 4px solid $_yellow;
  top: 50%;
  left: 0;
  margin-top: -20px;
}

.goliath {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  background: $_yellow;
  color: #000;
}

.button-express {
      padding: 5px;
      display: inline-block;
      margin-right: 5px;
      font-size: 11px;
      letter-spacing: 1px;
      text-decoration: none;
      background: transparent;
      border-radius: 1px;
      font-weight: 100;
      border-radius: 2px;
}

.landing {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: black;
  height: 80vh;
  .carousel {
    position: absolute;
    width: 390%;
    left: 60px;
    top: 35%;
  }
}
    .title {
      font-size: 2.5em;
      font-weight: 600;
      display: block;
      color: white;

    }
    .season {
      @extend .macaron;
    }
    .year {
    font-size: 0.7em;
    text-transform: uppercase;
    color: $_yellow;
     clear: left;
    }
    .director {
    font-size: 0.7em;
    text-transform: uppercase;
    color: #e0e0e0;
     margin-left: 30px;

    }
    .trailer {
      color: white;
      border: 1px solid #eee;
      @extend .button-express
    }
    .hackit {
      background: $_yellow;
      color: #000;
      @extend .button-express;
    }
    .soon {
      border: 1px solid #eee;
      color: #fff;
      opacity: 0.5;
      @extend .button-express
    }
  .media-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute; top: 0; left: 0; right: 0; bottom: 0;
  }
.wrapper-li{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: rgba(0,0,0,0);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.8)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.rn-carousel-control.rn-carousel-control-prev {
  background: url("../images/arrow-left.png") no-repeat center center;
  width: 38px;
  height: 38px;
  text-indent: -1000em;
  outline: none;

}
.rn-carousel-control.rn-carousel-control-next {
  background: url("../images/arrow-right.png") no-repeat center center;
  width: 38px;
  height: 38px;
  text-indent: -1000em;
  outline: none;

}
.push {
  font-size: 12px;
  text-transform: uppercase;
  color: #e0e0e0;
  margin-bottom: 30px;
  display: inline-block;
}

.description {
  color: white;
  font-weight: 200;
  width: 320px;
  font-size: 13px;
  color: #e0e0e0;
  margin-top: 30px;
  margin-bottom: 30px;

}
#loading {
  width: 100%;
  height: 100%;
  position: absolute; top: 0; left: 0; right: 0; bottom: 0;
  z-index: $_last;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  img {
    top: 50%;
    margin-top: -25px;
    position: absolute;
  }

}
.footer {
  position: absolute; top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: $_middle;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
  border-top: 1px solid #303030;
  .credit {
    padding: 5px 0;
    color: $_grey-light;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    font-size: 0.8em;
    font-weight: 200;
  }

}
button {
  &.next,
  &.prev {
    border-radius: 15px;
    width: 30px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    background: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    &:hover {
      background: $_yellow;
      color: black;
      cursor: pointer;
      border: 1px solid $_yellow;
      -webkit-transition: background-color ease-out 0.3s;
      -moz-transition: background-color ease-out 0.3s;
      -o-transition: background-color ease-out 0.3s;
      transition: background-color ease-out 0.3s;
    }

  }
  &.prev {
    position: fixed;
    top: 20px;
    left: 30px;
  }

}
.next-wrapper {
  padding: 40px 0;
}
.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  opacity: .8;
}
.search {
  height: 50px;
  box-sizing: border-box;
  border-radius: 25px;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  line-height: 50px;
  text-indent: 15px;

  input[type=search] {
    position: absolute;
    appearance: none;
    width: 90%;
    border: none;
    text-indent: 30px;
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 0;
    font-size: 14px;
    display: block;
    outline: none;
    color: white;
    background: transparent;
  }
}

.rn-carousel-controls {
  position: absolute;
    top: 40%;
    left: 75px;
    right: 0;
}
.content-box {
  width: 100%;
  margin: 0 auto 80px;
  ul li {
    text-decoration: none;
    list-style: none;
    height: 745px;
    width:33%;
    float: left;
    background-size: cover;
    position: relative;

    .title {
      font-size: 1.4em;
    }

    &:nth-child(3n-4){
      width: 34%;
    }

    &:nth-child(2){
      width: 34%;
    }
    &:nth-child(3){
      width: 33%;
    }
    &:nth-child(4){
      width: 67%;
    }
    &:nth-child(5){
      width: 33%;
    }
    &:nth-child(9){
      width: 50%;
      height: 400px;
    }
    &:nth-child(10){
      width: 50%;
      height: 400px;
    }
  }
}
