ul, li, h1, h2, h3, h4, h5, body, html {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
