// color
$_dark-1 : #2b2b2b;
$_dark : #1b1b1b;
$_darken : #0f0f0f;
$_grey-light: #c0c0c0;
$_maxwidth : 500px;
$_height_header : 32px;
$_last: 100;
$_middle: $_last / 2;
$_first: 1;
$_yellow: #ffde00;

// ressource images
$_image-bg-01 : 'http://blogs-images.forbes.com/erikkain/files/2014/06/game-of-thrones-s4e3-arya.jpg';
