<div class="search-form" ng-class="{'bg-for-search': searchMovie.length > 2}">
  <input type="search" ng-model="searchMovie" name="search" placeholder="Hack the search !" />
  <ul class="result" ng-show="searchMovie.length > 2">
    <li ng-repeat="movie in searchList | filter:searchMovie" class="clearfix" ng-click="selectMovie(movie)">
        <div class="roundup"><img ng-src="{{movie.img}}" alt="{{movie.title}}" /></div>
        <span ng-bind="movie.title"></span><br />
        <span ng-bind="movie.type"></span>
    </li> 
  </ul>
</div>
<div ng-if="result.length > 1">
  <ul rn-carousel rn-carousel-controls rn-carousel-buffered class="landing">
    <li ng-repeat="product in result">
      <div class="media-img" style="background-image:url({{product.img}})"></div>
      <div class="carousel">
        <span class="push" ng-bind="product.category"></span>
        <div class="denomination">
          <h2 class="title">{{product.title}}</h2>
          <span class="year" ng-hide="product.category < 1">{{product.category}}</span>
          <span class="year" ng-hide="product.type < 1">{{product.type}}</span>
          <span class="director" ng-hide="product.director < 1">{{product.director}}</span>
        </div>
        <p class="description" ng-bind="product.description"></p>
        <div class="linkTrailer">
          <a ng-href="{{product.trailer}}" class="trailer" ng-hide="product.trailer.length < 1"> ▸ Watch the trailer</a>
          <a ng-href="{{product.link}}" class="hackit" ng-if="product.link">Hack it</a>
          <span ng-href="" class="soon" ng-if="!product.link">Coming soon</span>
        </div>
      </div>
    </li>
  </ul>
</div>
<div ng-if="result.length == 1">
  <ul class="landing">
    <li ng-repeat="product in result">
      <div class="media-img" style="background-image:url({{product.img}})"></div>
      <div class="carousel">
        <span class="push" ng-bind="product.category"></span>
        <div class="denomination">
          <h2 class="title" ng-bind="product.title"></h2>
          <span class="year" ng-hide="displayNode(product.type)" ng-bind="product.type"></span>
          <span class="director" ng-hide="displayNode(product.director)" ng-bind="product.director"></span>
        </div>
        <p class="description" ng-bind="product.description"></p>
        <div class="linkTrailer">
          <a ng-href="{{product.trailer}}" class="trailer" ng-hide="product.trailer.length < 1"> ▸ Watch the trailer</a>
          <a ng-href="{{product.link}}" class="hackit" ng-if="product.link">Hack it</a>
          <span ng-href="" class="soon" ng-if="!product.link">Coming soon</span>
        </div>
      </div>
    </li>
  </ul>
</div>
