<ul rn-carousel rn-carousel-controls rn-carousel-transition="fadeAndSlide" rn-carousel-buffered class="landing carousel-fade">
  <li ng-repeat="product in products">
    <div class="media-img" style="background-image:url({{product.gsx$img.$t}});"></div>
    <div class="carousel">
      <span class="push">Popular content</span>
      <div class="denomination">
        <h2 class="title">{{product.gsx$title.$t}}</h2>
        <span class="year" ng-hide="displayNode(product.gsx$type.$t)">{{product.gsx$type.$t}}</span>
        <span class="director" ng-hide="displayNode(product.gsx$director.$t)">{{product.gsx$director.$t}}</span>
      </div>
      <p class="description" ng-bind="product.gsx$description.$t"></p>
      <div class="linkTrailer">
        <a ng-href="{{product.gsx$trailer.$t}}" class="trailer" ng-hide="displayNode(product.gsx$trailer.$t)"> ▸ Watch the trailer</a>
        <a ng-href="{{product.gsx$subtitle.$t}}" class="trailer" ng-hide="displayNode(product.gsx$subtitle.$t)"> ▸ Subtitle</a>
        <a ui-sref="player({url: product.gsx$link.$t})" class="hackit" ng-if="product.gsx$link.$t">Hack it</a>
        <span ng-href="" class="soon" ng-if="!product.gsx$link.$t">Coming soon</span>
      </div>
    </div>
  </li>
</ul>
<div class="search content-search">
  ⚲ <input type="search" autocomplete="on" autofocus placeholder="search a movie" ng-model="searchText">
</div>
