<div class="frame-page-article">
  <video class="video-js vjs-default-skin video-full-with" controls preload="auto"
      type="video/mp4" codecs='"a_ac3, avc"' vjs-video vjs-media="mediaToggle">
  </video>
  <div class="carousel article-content">
    <span class="push">Details</span>
    <div class="denomination">
      <h2 class="title">{{article.gsx$title.$t}}</h2>
      <span class="year" ng-hide="displayNode(article.gsx$type.$t)">{{article.gsx$type.$t}}</span>
      <span class="director" ng-hide="displayNode(article.gsx$director.$t)">{{article.gsx$director.$t}}</span>
    </div>
    <p class="description" ng-bind="article.gsx$description.$t"></p>
    <div class="linkTrailer">
      <a ng-href="{{article.gsx$trailer.$t}}" class="trailer" ng-hide="displayNode(article.gsx$trailer.$t)"> ▸ Watch the trailer</a>
      <a ng-href="{{article.gsx$subtitle.$t}}" class="trailer" ng-hide="displayNode(article.gsx$subtitle.$t)"> ▸ French Subtitle </a>
      <a ng-href="{{article.gsx$link.$t}}" class="hackit" target="_blank" ng-if="article.gsx$link.$t">Download</a>
      <span ng-href="" class="soon" ng-if="!article.gsx$link.$t">Coming soon</span>
    </div>
  </div>
</div>
