<div class="content-box show-tv">
  <h1 class="category">Shows TV</h1>
  <ul class="clearfix">
    <li ng-repeat="movie in box | filter:searchText">
      <a class="media-img" style="background-image:url({{movie.gsx$img.$t}});" ui-sref="show({link: movie.gsx$link.$t})">{{movie.gsx$title.$t}}</a>
      <div class="description-show">
        <div class="denomination">
          <h2 class="title">{{movie.gsx$title.$t}}</h2>
          <span class="year" ng-hide="displayNode(movie.gsx$type.$t)">{{movie.gsx$type.$t}}</span>
        </div>
      </div>
    </li>
  </ul>
</div>
